<h1><%= @word.name %></h1>
<% @word.definitions.each do |definition| %>
  <div>
    <p><%= definition.class %></p>
    <p><%= definition.term %></p>
    <p><%= definition.pronunciation %></p>
  </div>
<% end %>
<a href='/words/<%= @word.id %>/add_definition'>
  <button class="btn btn-default">Add Definition</button>
</a>
