<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1><%= @word.name %></h1>
    </div>
  </div>
</div>
<% @word.definitions.each do |definition| %>
  <div class="term">
    <p><small><%= definition.class %></small></p>
    <p><%= definition.term %></p>
    <p><%= definition.pronunciation %></p>
  </div>
<% end %>
<a href='/words/<%= @word.id %>/add_definition'>
  <button class="btn btn-default">Add Definition</button>
</a>
<a href='/'>
  <button class="btn btn-default">Home</button>
</a>
